# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dot-hidden on Unix-like systems
.waf-*-*/
.waf3-*-*/
# Hidden directory on Windows (no dot)
waf-*-*/
waf3-*-*/
# Lockfile
.lock-waf_*_build

# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Games Assets (Needs to be handled by binary source control)
assets/game/

# Libraries
libs/

# Confidential
*playstation/
*xbox/
*nintendo/

# Build
CMakeUserPresets.json
build/
tools/tracy
*.dia~
