-------------------------------------------------------------------------------
Product:
Canvas Manager

Description:
Handle what is necessary for drawing to multiple render targets,
some of which can be presented directly to a window. Some are used as textures.

Requirements:
-Manage: render texture, framebuffer, (optional) swapchain
-Respond to window events
-Dynamically resizable each frame
-Individually updatable
-Piped to different pass managers (not tied to them)
-Canvases are presented to by command buffers (not tied to them)

-------------------------------------------------------------------------------